.col-lg-6.copyrith {
    padding: 0;
}

.col-lg-6.copyrith span {
    font-family: PT Root UI;
    font-size: 12px;
    line-height: 20px;  /* identical to box height, or 167% */
    color: #76767A;
}

.col-lg-6.footer-links {
    padding: 0 5px 0 0;
    text-align: right;
}

.col-lg-6.footer-links a {
    text-decoration: none;
    margin-right: 30px;
}

.col-lg-6.footer-links span {
    font-family: PT Root UI;
    font-size: 12px;
    line-height: 20px;  /* identical to box height, or 167% */
    color: #76767A;
}

.col-lg-6.footer-links a:last-child {
    margin-right: 0 !important;
}

.foot-block {
    padding: 25px 0 31px 0;
}
@media(max-width:768px){
.col-lg-6.copyrith {
    text-align: center;
}

.col-lg-6.footer-links {
    padding: 12px 0 0 0;
    /* margin-top: -4px; */
    text-align: center;
}

.col-lg-6.footer-links a {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 1px;
}

.col-lg-6.footer-links a:nth-child(2n) {
    margin-right: 0 !important;
}
}