div(class="content-block my-addss-page col-md-9")
 div(class="my_adds_block")
  div(class="my_adds_body")
   div(class="my_adds_item withborder")
    .row
     div(class="card-star") 
      button(class="card-star-btn act")
      div(class="card-time desk") 18:26
     div(class="card-info myadds")
      p(class="card-info-p")
       a(href="#") Предлагаем увлекательную работу для водителей и грузчиков
      div(class="card-info-footer")
       .row
        div(class="card-foot")
         div(class="card-time mob") 18:26
         a(href="#", class="card-info-img") 2 фото
         span(class="card-user-acept") Пользователь верифицирован
        div(class="card-price mob")
         a(href="#", class="card-location") Россия, МОсква
         p(class="card-price-p") от 30 000 ₽
     div(class="card-price desk")
      p(class="card-price-p") от 30 000 ₽
      a(href="#", class="card-location") Россия, МОсква
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      button(class="card-star-btn act")
      div(class="card-time desk") 18:26
     div(class="card-info myadds")
      p(class="card-info-p")
       a(href="#") Повар из Грузии принимает заказы
      div(class="card-info-footer")
       .row
        div(class="card-foot")
         div(class="card-time mob") 18:26
         a(href="#", class="card-info-img") 5 фото
         span(class="card-user-acept") Пользователь верифицирован
        div(class="card-price mob")
         a(href="#", class="card-location withoutprice") Россия, Казань
     div(class="card-price desk")
      a(href="#", class="card-location withoutprice") Россия, Казань
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      button(class="card-star-btn act")
      div(class="card-time desk") 18:26
     div(class="card-info myadds")
      p(class="card-info-p")
       a(href="#") ИЩУ РАБОТУ В РЕСТОРАНЕ
      div(class="card-info-footer")
       .row
        div(class="card-foot")
         div(class="card-time mob") 18:26
         span(class="card-user-acept") Пользователь верифицирован
        div(class="card-price mob")
         a(href="#", class="card-location") Россия
         p(class="card-price-p") от 20 000 ₽
     div(class="card-price desk")
      p(class="card-price-p") от 20 000 ₽
      a(href="#", class="card-location") Россия
   div(class="my_adds_item withborder")
    .row
     div(class="card-star act")
      button(class="card-star-btn act")
      div(class="card-time desk") 18:26
     div(class="card-info myadds")
      p(class="card-info-p")
       a(href="#") Ищу работу официантом в приличном ресторане
      div(class="card-info-footer")
       .row
        div(class="card-foot")
         div(class="card-time mob") 18:26
         span(class="card-user-acept") Пользователь верифицирован
        div(class="card-price mob")
         a(href="#", class="card-location") Россия
         p(class="card-price-p") от 20 000 ₽
     div(class="card-price desk")
      p(class="card-price-p") от 20 000 ₽
      a(href="#", class="card-location") Россия