footer
 div(class="foot-block")
  .center
   .row
    div(class="col-lg-6 col-md-6 copyrith")
     span © 2019 — Modern Craiglist
    div(class="col-lg-6 col-md-6 footer-links")
     a(href='reg.html')
      span О сайте
     a(href='auth.html')
      span Пользовательское соглашение
     a(href='about.html')
      span Политика обработки персональных данных
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
script(src="js/datepicker.min.js")
script(src="js/main.js")