div(class="auth reg-p2")
 div(class="auth-block")
  div(class="auth-head")
   ul
    li(class='act')
     a(href="#") Авторизация
    li
     a(href="#") Регистрация
  div(class="auth-body")
   div(class="auth-pass") 
    p(class="auth-pass-p")  Восстановление пароля
    form
     div
      label(class="auth-label")
       p Email
       input(type='text', class='auth-input reg-inp')
     button(class="auth-item-button" disabled="disabled", id='dis-btn1')
      span Отправить
   
   

