include message_popup
div(class="header-mob-search")
 div(class="search-block col-lg-5 col-md-4")
      div(class="search-item")
       div(class="search-input")
        input(typy="text", id='input_search')
        button
       button(class="search-btn")
        span Найти
 
div(class="header-mob")
 div(class="header-mob-block")
  .center
   .row
    div(class="mob-menu")
     div(class="mob-menu-btn")
      div(class="mob-btn")
       span
       span
     div(class="mob-menu-block")
      div(class="mob-loc-mob")
       a(href="#", class="location-link-mob")
         span Россия, Санкт-Петербург
      div(class="mob-add")
       button
         div Добавить объявление
      div(class="mob-menu-itm")
       a(href="city1.html") Общие данные
       a(href="city2.html") Сообщения
       a(href="slider-page.html") Мои объявления
       a(href="index_without_reg.html") Избранные
       a(href="new_adds.html") Мои баллы
       a(href="view_obj.html") Выход
      div(class="header-nav-mob")
       div(class="leftnav-head")
        div(class="leftnav-head-btn")
         ul
          li
           a(href='#', class='act') Рубрики
          li
           a(href='#') #Пользователей
         button 
          span Сбросить
       div(class="leftnav-body")
        div(class="leftnav-item")
         div(class="leftnav-btn")
          button Работа, услуги
         div(class="leftnav-item-body")
          a(href='#') предлагаю
          a(href='#') бухгалтер
          a(href='#') дизайнер
          a(href='#', class='act') транспорт
          a(href='#', class='act') повар
          a(href='#') разнорабочие
          a(href='#') здравохранение
          a(href='#', class='act') ищуРаботу
          button
           span Еще...
        div(class="leftnav-item")
         div(class="leftnav-btn")
          button Знакомства, общение, поддержка
         div(class="leftnav-item-body")
          a(href='#') другНаЧас
          a(href='#') знакомства
          a(href='#') втречи
          a(href='#') выпитьВместе
          a(href='#') ищуПарня
          a(href='#') аа
          a(href='#') ищуЛюбовника
          a(href='#') помощь
          button
           span Еще...
        
    div(class="mob-logo")
     a(href="index.html", id="mob-logo")
    div(class="mob-account-text")
      p Баллов
      a(href='#') 1 900
    div(class="mob-message")
     button
    div(class="mob-search")
     button


header
 div(id="head-fix")
  .logo-blocks
   .center
    .row
     div(class="logo-bl-small")
      a(href="index.html", id="logo-small")
     div(class="fixed-btn")
      button
       div Добавить объявление
     div(class="logo-bl")
      a(href="index.html", id="logo")
     div(class="location-block col-lg-2 col-md-2")
      a(href="#", class="location-link")
       span Россия, Санкт-Петербург
       div(class="choose-region")
        p Ваш регион
        span Россия, Санкт-Петербург
        div(class="choose-region-btn")
         button(class="choose-region-btn-l")
          div Верно
         button(class="choose-region-btn-r")
          div Другой
     div(class="search-block-fixed col-lg-3 col-md-3")
      button(class="fix-search")
      div(class="search-item fix-mm")
       div(class="search-input")
        input(typy="text", id='input_search2')
        button
       button(class="search-btn")
        span Найти
     div(class="search-block col-lg-5 col-md-4")
      div(class="search-item")
       div(class="search-input")
        input(typy="text", id='input_search')
        button
       button(class="search-btn")
        span Найти
     div(class="message-block col-lg-1 col-md-2")
       button(class="message-btn")
       button(class="star-btn")
     div(class="account-block")
      .row
       div(class="account-text")
        p Баллов
        a(href='#') 1 900
       div(class="account-btn")
        button
        div(class='menu')
         a(href="account.html") Общие данные
         a(href="image-page.html") Сообщения
         a(href="slider-page.html") Мои объявления
         a(href="index_without_reg.html") Избранные
         a(href="new_adds.html") Мои баллы
         a(href="view_obj.html") Выход
       
  

