div(class="leftnav col-lg-4 col-md-4")
  div(class="leftnav-block")
   div(class="leftnav-head")
    a(href="#", class="leftnav-add")
     span Добавить объявление
    div(class="leftnav-head-btn")
     ul
      li
       a(href='#', class='act') Рубрики
      li
       a(href='#') #Пользователей
     button 
      span Сбросить
   div(class="leftnav-body")
    div(class="leftnav-item")
     div(class="leftnav-btn")
      button Работа, услуги
     div(class="leftnav-item-body")
      a(href='#') предлагаю
      a(href='#') бухгалтер
      a(href='#') дизайнер
      a(href='#', class='act') транспорт
      a(href='#', class='act') повар
      a(href='#') разнорабочие
      a(href='#') здравохранение
      a(href='#', class='act') ищуРаботу
      button
       span Еще...
    div(class="leftnav-item")
     div(class="leftnav-btn")
      button Знакомства, общение, поддержка
     div(class="leftnav-item-body")
      a(href='#') другНаЧас
      a(href='#') знакомства
      a(href='#') втречи
      a(href='#') выпитьВместе
      a(href='#') ищуПарня
      a(href='#') аа
      a(href='#') ищуЛюбовника
      a(href='#') помощь
      button
       span Еще...
    div(class="leftnav-item")
     div(class="leftnav-btn")
      button Недвижимость
     div(class="leftnav-item-body")
      a(href='#') сдаюКвартиру
      a(href='#') ВАО
      a(href='#') Таунхаусы
      a(href='#') сдаюКомнату
      a(href='#') аренда
      a(href='#') студия
      a(href='#') снимуКвартиру
      a(href='#') сдамДом
      button
       span Еще...
    div(class="leftnav-item")
     div(class="leftnav-btn")
      button Животные
     div(class="leftnav-item-body")
      a(href='#') другНаЧас
      a(href='#') знакомства
      a(href='#') втречи
      a(href='#') выпитьВместе
      a(href='#') ищуПарня
      a(href='#') аа
      a(href='#') ищуЛюбовника
      a(href='#') помощь
      button
       span Еще...
    div(class="leftnav-item")
     div(class="leftnav-btn")
      button путешествия
     div(class="leftnav-item-body")
      a(href='#') сдаюКвартиру
      a(href='#') ВАО
      a(href='#') Таунхаусы
      a(href='#') сдаюКомнату
      a(href='#') аренда
      a(href='#') студия
      a(href='#') снимуКвартиру
      a(href='#') сдамДом
      button
       span Еще...

   div(class="leftnav-img")
