div(class="leftnav2 col-md-3")
 div(class="leftnav-menu")
  a(href="account.html", class="act") Общие данные
  a(href="message.html") Сообщения
  a(href="my_adds.html") Мои объявления
  a(href="favorites.html") Избранные
  a(href="scores.html") Мои баллы
  a(href="#") Выход
 
