div(class="leftnav col-md-3 message-page")
 div(class="leftnav-menu")
  a(href="account.html") Общие данные
  a(href="message.html", class="act") Сообщения
  a(href="my_adds.html") Мои объявления
  a(href="favorites.html") Избранные
  a(href="scores.html") Мои баллы
  a(href="#") Выход
 
