div(class="content-block col-md-9 message-p")
 div(class="message_page")
  .row
   div(class="message-tab")
    div(class="message-tab-block")
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/img.png")
       div(class="message-tab-info")  
        .row
         div(class="message-tab-user") Оксана
         div(class="message-tab-time") 13 августа 2019, 15:03
        div(class="message-tab-job")
         p Школа танцев объявляет набор на 2020 учебный год.
         span 1
     div(class="message-tab-item act")
      div
       div(class="message-tab-img")
        img(src="images/message/img2.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Степан
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/avatar_default.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Виктор Петрович
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/img3.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Marina
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/img4.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Николай
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/img5.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Татьяна
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/img6.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Hello_1201
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     div(class="message-tab-item")
      div
       div(class="message-tab-img")
        img(src="images/message/img7.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Olga
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
   div(class="message-body")
    div(class="message-content")
     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Оксана,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить
     div(class="message-item act")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Согласен )))

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи

      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить
     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Виктор Петрович,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить
     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Виктор Петрович,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить

     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Виктор Петрович,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить
     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Виктор Петрович,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить
     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Виктор Петрович,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить
     div(class="message-item")
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Виктор Петрович,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить


 div(class="message_page_mob")
  .row
   div(class="message-tab")
    div(class="message-tab-block")
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img.png")
       div(class="message-tab-info")  
        .row
         div(class="message-tab-user") Оксана
         div(class="message-tab-time") 13 августа 2019, 15:03
        div(class="message-tab-job")
         p Школа танцев объявляет набор на 2020 учебный год.
         span 1
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img2.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Степан
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/avatar_default.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Виктор Петрович
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img3.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Marina
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img4.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Николай
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img5.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Татьяна
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img6.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Hello_1201
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков
     a(href='message2.html', class="message-tab-item-mob")
      div
       div(class="message-tab-img")
        img(src="images/message/img7.png")
       div(class="message-tab-info")
        .row 
         div(class="message-tab-user") Olga
         div(class="message-tab-time") 25 июля 2019, 21:10
        div(class="message-tab-job")
         p Предлагаем увлекательную работу для водителей и грузчиков