div(class="message2")
     div(class="message-item-popup")
      div(class="popup-message-head")
       button(class="prev-mesage-page")
       div(class="message-user-img-h")
        img(src="images/message/img2.png")
       p Степан
      div(class="scrool-bl")
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Согласен )))

       div(class="message-text")
        div(class="message-info") 
         span(class="message-user") Вы,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/avatar_default.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Получается надо внедрять Имя, по-любэ и аватар
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи
       div(class="message-text get")
        div(class="message-info") 
         span(class="message-user") Степан,
         span(class="message-time") 25 июля 2019, 21:10
        div(class="row ")
         div(class="message-user-img")
          img(src="images/message/img2.png")
         div(class="message-user-text")
          div(class="message-user-text-item") Ок тогда предложим такой вариант
          div(class="message-user-text-item") Но аватарка дефолтная все равно будет
          div(class="message-user-text-item") А имя так можно и сказать отображается в переписке
          div(class="message-user-text-item") И дальше чего хочешь то и вводи

      div(class="message-send")
       .row
        div(class="file-btn")
         button
          input(type="file")
        div(class="send-textarea")
         textarea(placeholder="Сообщение...")
        div(class="send-btn")
         button
          div Отправить