div(class="content-block my-addss-page col-md-9")
 div(class="my_adds_block")
  div(class="my_adds_heads")
   ul
    li
     a(href="my_adds2.html") Опубликованные
      span (3)
    li
     a(href="#") В очереди 
    li
     a(href="my_adds.html", class="act") Черновики
      span (1)
    li 
     a(href="#") На модерации
      span (2)
  div(class="my_adds_body")
   div(class="my_adds_item")
    .row
     div(class="card-star")
      button(class="card-star-btn")
      div(class="card-time desk") 18:26
     div(class="card-info myadds")
      p(class="card-info-p withup")
       a(href='#') Повар из Грузии принимает заказы
      div(class="card-info-footer")
       .row
        div(class="card-foot")
         span(class="card-info-text") В топе до 13 августа, 15:15
         div(class="card-time mob") 18:26
        div(class="card-price mob")
         a(href="#", class="card-location my_adds") Россия
       div(class="card-mob-btn")
        button(class="eddit_btn my_adds_btn")
        button(class="delete_btn my_adds_btn") 
     div(class="card-price my_adds desk")
      div
       a(href="#", class="card-location withoutprice my_adds ") Россия
      button(class="eddit_btn my_adds_btn")
      button(class="delete_btn my_adds_btn") 