div(class="popup")
 div(class="auth-block")
  div(class="auth-body")
   div(class="popup-text")
    p Здравствуйте!
    span 
     | Перед дальнейшим использование сайта, пожалуйста, ознакомьтесь с пользовательским соглашением и подтвердите что вам больше 18 лет.
   div(class="popup-item")
    form
     label(class="auth-check")
      input(type="checkbox", class="checkpopup")
      span
       | Согласен 
       a(href="#") с пользовательским соглашением
     label(class="auth-check")
      input(type="checkbox", class="checkpopup")
      span
       | подтверждаю, Мне больше 18 лет
     button(class="auth-item-button", disabled="disabled", id='dis-btn3')
      span Продолжить
   

