div(class="auth reg-p")
 div(class="auth-block")
  div(class="auth-reg")
   div(class="auth-reg-check")
   p(class="auth-reg-head") Поздравляем!
   p(class="auth-reg-p") Вы успешно зарегистрировались!
   span(class="auth-reg-span") 
    | На указанный при регистрации Email мы отправили письмо. Откройте его и перейдите по ссылке. Не исключено что письмо попало в папку «Спам».
   a(href='#')
    span Перейти в личный кабинет