div(class="content-block my-addss-page col-md-9")
 div(class="my_adds_block")
  div(class="my_adds_heads scor-p")
   ul
    li
     a(href="scores.html", class="act") Баланс
    li
     a(href="scores2.html") Начисления
    li
     a(href="my_adds.html") Расходы
  div(class="scor_body")
   div(class="scores-head")
    span баллов
    p 1 900
   div(class="scores-block")
    p(class="scores-block-p") За что начисляются баллы?
    div(class="scores-row row")
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck2.png')
      div(class="scores-text")
       p
        | Регистрация 
        br
        | на сайте
       span +500
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck2.png')
      div(class="scores-text")
       p
        | Верификация 
        br
        | электронной почты
       span +500
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck-without.png')
      div(class="scores-text")
       p
        | Верификация
        br
        | телефона
       span +1 000
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck-without.png')
      div(class="scores-text")
       p
        | Добавление
        br
        | объявления с фото
       span +1 000
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck2.png')
      div(class="scores-text")
       p 
        | За каждые 5 минут,
        br
        | проеденные на сайте
       span +5
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck-without.png')
      div(class="scores-text")
       p
        | Ответы на другие
        br 
        | объявления
       span +100
     div(class="scores-item")
      div(class="scores-img")
       img(src='images/сheck-without.png')
      div(class="scores-text")
       p
        | На день
        br
        | рождения
       span +10 000