div(class="content-block my-addss-page col-md-9")
 div(class="my_adds_block")
  div(class="my_adds_heads scor-p")
   ul
    li
     a(href="scores.html") Баланс
    li
     a(href="scores.html2", class="act") Начисления
    li
     a(href="my_adds.html") Расходы
  div(class="scores-table")
   div(class="scores-table-item")
    .row
     div(class="scores-table-date col-md-1")
      span 14 августа
     div(class="scores-table-text col-md-9")
      span Баллы за пребывание на сайте
     div(class="scores-table-pound col-md-2")
      span +45
   div(class="scores-table-item")
    .row
     div(class="scores-table-date col-md-1")
      span 13 августа
     div(class="scores-table-text col-md-9")
      span Баллы за пребывание на сайте
     div(class="scores-table-pound col-md-2")
      span +15
   div(class="scores-table-item")
    .row
     div(class="scores-table-date col-md-1")
      span 12 августа
     div(class="scores-table-text col-md-9")
      span Баллы за пребывание на сайте
     div(class="scores-table-pound col-md-2")
      span +80
   div(class="scores-table-item")
    .row
     div(class="scores-table-date col-md-1")
      span 12 августа
     div(class="scores-table-text col-md-9")
      span Полная верификация аккаунта
     div(class="scores-table-pound col-md-2")
      span +5 000
   div(class="scores-table-item")
    .row
     div(class="scores-table-date col-md-1")
      span 12 августа
     div(class="scores-table-text col-md-9")
      span Регистрация на сайте
     div(class="scores-table-pound col-md-2")
      span +500
   