div(class="view-obj-block")
 a(href="index.html", class='close-page')
 div(class="view-obj-item")
  .row
   div(class="view-obj-item-l")
    p Предлагаем увлекательную работу для водителей и грузчиков
   div(class="view-obj-item-r desk")
    span(class="view-obj-time") 25 июля 2019, 21:10
    span(class="view-obj-location") Россия, МОсква
    span(class="card-user-acept") Пользователь верифицирован
 div(class="view-obj-slider")
  div(class="slider1 swiper-container") 
   .swiper-wrapper 
     div(class="slider-block swiper-slide")
      img(src="images/image.png")
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
     div(class="slider-block swiper-slide") 
      img(src="images/image.png")
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
  div(class="swiper-button-prev swiper-button-prev1")
  div(class="swiper-button-next swiper-button-next1")
 div(class="view-obj-info")
  .row
   div(class="view-obj-info-text")
    | На увлекательную работу по перевозке мебели срочно требуются 
    a(href="#") #водители 
    |  и 
    a(href="#") #грузчики
    |. Полная занятость, отличные условия, прекрасный коллектив.
    br
    br
    |Звоните 786-202-9256 или приходите 17854 NE 5th Ave Miami, FL 33162
    br
    br
    a(href="#") #предлагаюРаботу
   div(class="view-obj-info-btn")
    button(class="view-obj-info-btn-l")
     div Редактировать
    button(class="view-obj-info-btn-r")
     div Снять с публикации
 div(class="view-obj-price")
  .row
   div(class="view-obj-price-txt") от 30 000 ₽
   div(class="view-obj-mob")
    div(class="view-obj-info-btn")
     button(class="view-obj-info-btn-l")
      div Редактировать
     button(class="view-obj-info-btn-r")
      div Снять с публикации
    div(class="view-obj-item-r mob")
     span(class="view-obj-time") 25 июля 2019, 21:10
     span(class="view-obj-location") Россия, МОсква
     span(class="card-user-acept") Пользователь верифицирован