include modules/doctype
 body
  include modules/header
  section(class="content account-page")
   .center
    .row
     include modules/leftnav2
     include modules/account 
  include modules/footer
