include modules/doctype
 body(class="auth-b")
  .header
    .logo-blocks
     .center
      .row
       div(class="logo-auth")
        a(href="index.html", id="logo")
       div(class="close-auth")
        a(href="index.html")
         button
  include modules/auth
  include modules/footer2
