include modules/doctype
 body
  section(class="city_1")
   .center
    div(class="city-block")
     button(class="close-city")
     p(class="city-block-head") Укажите свой регион
     div(class="city-input withbutton")
      input(type='text', value="Воронежская обл")
      button Выбрать
     div(class="city-example")
      p Например:
      span Москва
      span Санкт-Петербург
