include modules/doctype
 body
  include modules/popup
  include modules/header
  section(class="content")
   .center
    .row
     input(type='text', class="price-input new_adds_input reg-inp", id='dateprice')
  
  include modules/footer

