include modules/doctype
 body
  include modules/popup
  include modules/header
  section(class="content")
   .center
    .row
     include modules/leftnav 
     include modules/content
  
  include modules/footer
