include modules/doctype
 body
  section(class="content")
    div(class="popup-question")
     div(class="popup-question-icon")
     div(class="popup-question-text")
      span Поднять это обявление в топ на 12 часов за 1 500 баллов?
     div(class="popup-question-button")
      button(class="popup-question-button-l")
       span Поднять
      button(class="popup-question-button-r")
       span Отмена
    div(class="adv-block")
     div(class="adv-block1")
      div(class="adv-block-h") 
       p Поднять в топ
      .row
       div(class="adv-block-l")
        span На 3 часа
       div(class="adv-block-r")
        span 500.-
      .row
       div(class="adv-block-l")
        span На 12 часов
       div(class="adv-block-r")
        span 1 500.-
      .row
       div(class="adv-block-l")
        span На 24 часов
       div(class="adv-block-r")
        span 3 000.-
      .row
       div(class="adv-block-l")
        span На 72 часов
       div(class="adv-block-r")
        span 5 000.-
      div(class="adv-block-footer") 
       .row
        div(class="adv-block-footer-l")
         span  Выделить заголовок
        div(class="adv-block-footer-r")
         span 500.-
    div(class="adv-block")
     div(class="adv-block1")
      div(class="adv-block-h") 
       p Поднять в топ
      .row
       div(class="adv-block-l")
        span На 3 часа
       div(class="adv-block-r")
        span 500.-
      .row
       div(class="adv-block-l")
        span На 12 часов
       div(class="adv-block-r")
        span 1 500.-
      .row
       div(class="adv-block-l")
        span На 24 часов
       div(class="adv-block-r")
        span 3 000.-
      .row
       div(class="adv-block-l")
        span На 72 часов
       div(class="adv-block-r")
        span 5 000.-
      div(class="adv-block-footer") 
       .row
        div(class="adv-block-footer-l")
         span  Выделить заголовок
        div(class="adv-block-footer-r")
         span 500.-
     div(class="adv-block-btn")
      p Поднять это обявление в топ на 12 часов за 1 500 баллов?
      div(class="adv-block-button")
       button(class="adv-block-button-l")
        span Поднять
       button(class="adv-block-button-r")
        span Отмена
 