include modules/doctype
 body(class="auth-b")
  .header
    .logo-blocks
     .center
      div(class="logo-auth reg-p3")
       a(href="index.html", id="logo")
  include modules/reg
  include modules/footer2

