include modules/doctype
div(class="slider-page")
 a(href="index.html", class="close-slider")
 div(class="slider-page-block")
  div(class="slider2 swiper-container")
   .swiper-wrapper 
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
     div(class="slider-block swiper-slide")
      img(src="images/image2.png")
  div(class="swiper-button-prev swiper-button-prev2")
  div(class="swiper-button-next swiper-button-next2")
  div(class="swiper-pagination swiper-pagination2")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js")
script(src="js/bootstrap-tagsinput.js")
script(src="js/main.js")