include modules/doctype
 body
  include modules/header
  section(class="content view_o2")
   .center
    include modules/view_obj2  
   div(class="view_obj_top")
    .center
     div(class="view-obj-block")
      .row
       div(class="view_obj_top_item")
        div(class="view_obj_top_time")
         p Поднять в топ на 3 часа
        div(class="view_obj_top_pound")
         p 500 баллов
       div(class="view_obj_top_item")
        div(class="view_obj_top_time")
         p Поднять в топ на 12 часов
        div(class="view_obj_top_pound")
         p 1 500 баллов
       div(class="view_obj_top_item")
        div(class="view_obj_top_time")
         p Поднять в топ на 24 часа
        div(class="view_obj_top_pound")
         p 3 000 баллов
       div(class="view_obj_top_item")
        div(class="view_obj_top_time")
         p Поднять в топ на 72 часа
        div(class="view_obj_top_pound")
         p 5 000 баллов
       div(class="view_obj_top_item")
        div(class="view_obj_top_time another_bg")
         p Выделить заголовок
        div(class="view_obj_top_pound")
         p 500 баллов
  include modules/footer
