@charset "UTF-8";
.leftnav-menu a:nth-child(1) {
  background: url("../images/menu/img1.png") no-repeat; }

.leftnav-menu a.act:nth-child(1) {
  background: url(../images/menu/img1-hov.png) no-repeat; }

.leftnav-menu a:nth-child(2) {
  background: url("../images/menu/img2.png") no-repeat; }

.leftnav-menu a:nth-child(3) {
  background: url("../images/menu/img3.png") no-repeat; }

.leftnav-menu a.act:nth-child(3) {
  background: url(../images/menu/img3-hov.png) no-repeat; }

.leftnav-menu a:nth-child(4) {
  background: url("../images/menu/img4.png") no-repeat; }

.leftnav-menu a:nth-child(5) {
  background: url("../images/menu/img5.png") no-repeat; }

.leftnav-menu a:nth-child(6) {
  background: url("../images/menu/img6.png") no-repeat; }

.leftnav-menu a {
  display: block;
  margin-bottom: 10px;
  font-family: PT Root UI;
  text-decoration: none;
  font-size: 16px;
  background-position: 1px center !important;
  line-height: 40px;
  padding-left: 29px;
  letter-spacing: -0.01em;
  color: #333333; }

.leftnav-menu {
  padding-top: 30px;
  padding-right: 42px; }

.leftnav-menu a.act {
  color: #005ED9;
  font-weight: bold; }

.account-block-head {
  font-family: PT Root UI;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.01em;
  color: #000000;
  margin: 0 !important; }

.account-label {
  display: block;
  margin: 0 !important; }

.account-label p {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px; }

.account-label p span {
  color: #D51A1A;
  float: right;
  letter-spacing: normal !important; }

.account-form {
  margin-top: 29px; }

span.verification.act {
  background: url(../images/сheck3.png) no-repeat;
  color: #44B62D !important;
  padding-left: 15px;
  background-position: left center; }

.account-label input {
  background: #F5F5F7;
  /* Line */
  border: 1px solid #D4D4D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  font-family: PT Root UI;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  padding: 0 0 0 14px;
  letter-spacing: -0.01em;
  color: black; }

.account-label input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3); }

.account-label input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3); }

.account-label input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3); }

.account-label input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3); }

.account-form-right span {
  font-family: PT Root UI;
  font-size: 13px;
  max-width: 300px;
  line-height: 20px;
  padding-top: 5px;
  display: block;
  letter-spacing: -0.01em;
  color: #76767A; }

.account-form-right {
  padding: 30px 0px 0 30px; }

.row.account-form-item {
  padding-bottom: 30px; }

.account-label input:focus {
  background: #FFFFFF; }

button.account-button {
  background: #FFFFFF;
  /* Line */
  border: 1px solid #D4D4D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 190px;
  text-align: center;
  height: 50px; }

button.account-button div {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 14px;
  /* or 125% */
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* Icon, Text Gray */
  color: #76767A; }

.row.account-form-item:last-child {
  padding: 0 !important; }

.account-form-btn {
  max-width: 190px; }

.password-block {
  margin-top: 61px; }

.account-pass {
  margin-right: 30px; }

.account-pass:last-child {
  margin-right: 0 !important; }

.account-form-block.row {
  margin-bottom: -9px !important; }

.account-form-btn button {
  margin-top: 30px; }

.account-form-btn button span {
  line-height: 26px; }

.account-block-filt {
  margin-top: 60px; }

.account-filtr {
  margin-top: 25px; }

.account-block-filt span {
  padding-left: 40px !important; }

.account-photo-bl {
  background: #FFFFFF;
  border: 1px solid #D9D9DE;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 58px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 190px;
  height: 190px; }

.account-block-left {
  border-right: 1px solid #DDDDE1;
  padding: 0 69px 0 0;
  padding-top: 31px; }

.account-block-right {
  padding-left: 71px; }

.account-photo p {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold; }

.account-photo {
  margin-top: 95px; }

.account-photo-bl img {
  display: block;
  width: 76px;
  height: 72px;
  margin: 0 auto; }

.auth {
  padding-top: 100px;
  z-index: 100; }

.auth-block {
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  max-width: 410px;
  padding: 25px 30px 30px 30px; }

.auth-head ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.auth-head span {
  font-family: PT Root UI;
  font-size: 12px;
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
  display: block;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  color: #004DB2;
  cursor: pointer; }

.auth-head li {
  display: inline-block;
  margin-right: 25px; }

.auth-head li:last-child {
  margin-right: 0 !important; }

.auth-head li.act span {
  border-color: #333333 !important;
  color: #333333 !important; }

label.auth-label {
  display: block;
  margin-bottom: 20px; }

label.auth-label p {
  font-family: PT Root UI;
  font-size: 12px;
  position: relative;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 9px;
  color: #333333;
  font-weight: bold; }

.auth-item {
  margin-top: 20px; }

label.auth-label input {
  background: #FFFFFF;
  width: 100%;
  border: 1px solid #D4D4D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
  font-family: PT Root UI;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #000000;
  padding: 10px 15px; }

a.forget-pass {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  text-align: right;
  right: 0px;
  letter-spacing: normal !important;
  text-transform: none !important;
  color: #004DB2; }

.auth-check {
  position: relative;
  margin-top: 17px;
  /* margin-bottom: 13px; */
  display: block; }

.auth-check span:after {
  content: '';
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #D4D4D9; }

.auth-check input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  opacity: 0; }

.auth-check input:checked + span:after {
  background: #005ED9 !important;
  border-color: #005ED9; }

.auth-check input:checked + span:before {
  content: "";
  display: block;
  z-index: 10;
  width: 12px;
  background: url(../images/Check.png) no-repeat;
  height: 9px;
  background-position: center center;
  left: 5px;
  top: 6px;
  position: absolute; }

.auth-check span {
  top: 4px;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333; }

label.auth-label:last-child {
  margin-bottom: 0 !important; }

.auth-item-button {
  background: #005ED9;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  margin-top: 23px; }

.auth-item-button span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 15px;
  /* or 125% */
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }

.auth-item {
  display: none; }

.auth-item.act {
  display: block !important; }

.auth-b {
  background: #005ED9; }

.auth-b footer span {
  color: white !important; }

.logo-auth #logo {
  background: url(../images/logo2.png); }

.auth-head a {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #004DB2;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 20px;
  display: block; }

.auth-head {
  border-bottom: 1px solid #D9D9DE; }

p.auth-pass-p {
  font-family: PT Root UI;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-top: 25px; }

.pass-check1.red-c {
  color: #E52D2D !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.pass-check1.yellow-c {
  color: #FF9500 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.pass-check1.green-c {
  color: #44B62D !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.progress-bar1 {
  height: 3px;
  width: 100%;
  margin-top: 7px;
  position: relative; }

.progress-bar1:after {
  content: "";
  display: block;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.progress-bar1.red-c:after {
  background: #E52D2D;
  width: 55px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.progress-bar1.yellow-c:after {
  background: #FF9500;
  width: 175px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.progress-bar1.green-c:after {
  background: #44B62D;
  width: 290px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

span#pass-check {
  float: right; }

.auth-delete {
  position: relative; }

.auth-delete span {
  background: url("../images/Cancel2.png") no-repeat;
  border: none;
  width: 13px;
  height: 13px;
  position: absolute;
  right: 15px;
  top: 20px;
  background-position: center center;
  display: block;
  cursor: pointer; }

input.auth-input:focus {
  border: 1px solid #005ED9; }

label.auth-check a {
  text-decoration: none !important; }

.auth {
  padding: 87px 0 78px 0 !important; }

.close-auth button {
  width: 25px;
  height: 25px;
  border: none;
  background: url(../images/Cancel.png) no-repeat;
  background-position: center center;
  background-size: 100% 100%; }

.close-auth {
  position: absolute;
  right: 28px;
  top: 20px; }

footer.footer-fix {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.content-block {
  padding: 0px 0 0 70px; }

.fitr-block {
  background: #FFFFFF;
  padding: 11px 15px 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.fitr-label {
  position: relative;
  margin-top: 0px;
  margin-bottom: 13px;
  margin-right: 88px; }

.fitr-label span:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 30px;
  height: 20px;
  background: #A7A7AB;
  /* Pressed */
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 15px;
  border-radius: 15px; }

.fitr-label input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

.fitr-label input:checked + span:after {
  background: #005ED9 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fitr-label span:before {
  content: "";
  display: block;
  z-index: 10;
  width: 14px;
  background: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  height: 14px;
  left: 3px;
  top: 3px;
  position: absolute;
  -webkit-border-radius: 100px;
  border-radius: 100px; }

.fitr-label input:checked + span:before {
  height: 14px;
  left: 13px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fitr-label span {
  display: block;
  top: 0px;
  position: relative;
  padding-left: 41px;
  cursor: pointer;
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333; }

.fitr-label span a {
  color: #2b2b2b;
  text-decoration: underline;
  margin-left: 4px; }

span.fitr-span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold !important;
  display: inline-block;
  margin-right: 40px; }

.fitr-label:last-child {
  margin-right: 0 !important; }

.fitr-img {
  max-width: 728px;
  height: 90px;
  margin: 30px auto 0 auto;
  background: #D9D9DE;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.card-link a {
  display: block;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0px 15px 5px; }

.card-link span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* Text link */
  font-weight: bold;
  color: #004DB2; }

.card1 {
  padding: 32px 0 0 0; }

.card-link a {
  display: block;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0px 15px 5px; }

.card-link span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* Text link */
  font-weight: bold;
  color: #004DB2; }

.card1 {
  padding: 32px 0 0 0; }

.card-star {
  width: 8%; }

.card-star span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  color: #76767A;
  display: block;
  padding-left: 30px;
  background: url("../images/star2.png") no-repeat; }

.card-star.act span {
  background: url(../images/star-act.png) no-repeat !important; }

p.card-info-p {
  background: url(../images/up.png) no-repeat;
  font-family: PT Root UI;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height, or 118% */
  letter-spacing: -0.01em;
  color: #000000;
  background-position: left center;
  padding-left: 24px;
  font-weight: bold;
  margin-bottom: 5px; }

p.card-info-p.redtxt {
  color: #D51A1A !important; }

span.card-info-img {
  background: url(../images/img.png) no-repeat;
  font-family: PT Root UI;
  font-size: 9px;
  line-height: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4C4C4C;
  padding-left: 17px;
  margin-right: 20px;
  background-position: left center; }

span.card-user-acept {
  background: url(../images/accept.png) no-repeat;
  font-family: PT Root UI;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height, or 111% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4C4C4C;
  background-position: left center;
  padding-left: 15px; }

span.card-location {
  background: url(../images/loc.png) no-repeat;
  display: block;
  font-family: PT Root UI;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height, or 111% */
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4C4C4C;
  background-position: right center;
  padding: 0 11px 0 0px; }

.card-info {
  padding-left: 43px;
  width: 65%; }

.card-block {
  margin-top: 19px; }

.card-price {
  width: 27%;
  padding-right: 11px;
  text-align: right; }

p.card-price-p {
  font-family: PT Root UI;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #000000;
  font-weight: bold;
  padding: 0 0 0 6px; }

.card-item {
  border-bottom: 1px solid #D9D9DE;
  padding: 0 0px 36px 0;
  margin-bottom: 19px; }

.card-location.withoutprice {
  margin-top: 36px; }

.card-item:last-child {
  border: none;
  margin-bottom: 0 !important; }

p.card-info-p.withoutup {
  padding: 0 !important;
  background: none !important; }

@font-face {
  font-family: 'PT Root UI';
  src: url("../font/PT_Root_UI_Regular/PT_Root_UI_Regular.eot");
  src: url("../font/PT_Root_UI_Regular/PT_Root_UI_Regular.eot?#iefix") format("embedded-opentype"), url("../font/PT_Root_UI_Regular/PT_Root_UI_Regular.woff2") format("woff2"), url("../font/PT_Root_UI_Regular/PT_Root_UI_Regular.woff") format("woff"), url("../font/PT_Root_UI_Regular/PT_Root_UI_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.col-lg-6.copyrith {
  padding: 0; }

.col-lg-6.copyrith span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  color: #76767A; }

.col-lg-6.footer-links {
  padding: 0 5px 0 0;
  text-align: right; }

.col-lg-6.footer-links a {
  text-decoration: none;
  margin-right: 30px; }

.col-lg-6.footer-links span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  color: #76767A; }

.col-lg-6.footer-links a:last-child {
  margin-right: 0 !important; }

.foot-block {
  padding: 25px 0 31px 0; }

div#head-fix {
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
  z-index: 101;
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  top: 0; }

.fixed-menu {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

.fixed-menu .logo-blocks {
  padding: 0 !important; }

.fixed-menu .logo-bl {
  display: none; }

.fixed-menu .search-block {
  display: none; }

.fixed-menu .logo-bl-small {
  width: 91px;
  display: block !important;
  padding-top: 10px; }

.logo-bl-small a {
  width: 70px;
  height: 30px;
  background: url(../images/logo-fixed.png) no-repeat;
  display: block; }

.fixed-btn button {
  width: 207px;
  height: 50px;
  left: 166px;
  border: none !important;
  top: 0px;
  background: #005ED9; }

.fixed-menu .fixed-btn {
  display: block !important;
  margin-right: 127px; }

.fixed-btn div {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); }

.fixed-menu .location-block {
  padding-top: 10px !important; }

.search-block-fixed button {
  width: 20px;
  border: none !important;
  height: 20px;
  background: url(../images/search.png) no-repeat; }

.fixed-menu .search-block-fixed {
  display: block !important;
  padding-top: 15px;
  margin-left: 326px; }

.fixed-menu .account-text p {
  margin-bottom: 1px !important; }

header {
  border-bottom: 1px solid #D9D9DE;
  height: 110px; }

.logo-bl-small {
  display: none; }

.fixed-btn {
  display: none; }

.search-block-fixed {
  display: none; }

a#logo {
  width: 155px;
  height: 40px;
  background: url("../images/logo.png");
  display: block; }

.logo-blocks {
  padding: 30px 0  0 0; }

.logo-bl {
  padding-right: 15px;
  border-right: 1px solid #D9D9DE;
  height: 50px;
  padding-top: 5px; }

.location-block span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.location-block {
  padding: 20px  0 0 15px; }

.location-block a {
  text-decoration: none !important;
  border-bottom: 1px dashed;
  border-bottom-color: rgba(0, 77, 178, 0.3);
  padding-bottom: 2px; }

.search-item {
  width: 520px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.search-input {
  width: 416px;
  position: relative;
  padding: 12px 0 0 20px;
  display: inline-block; }

.search-input input {
  width: 100%;
  background: url(../images/search.png) no-repeat;
  background-position: left center;
  border: none;
  border-right: 1px solid #D9D9DE !important;
  padding: 0 30px 0 20px; }

.search-input button {
  width: 13px;
  height: 13px;
  background: url(../images/Cancel.png) no-repeat;
  position: absolute;
  right: 18px;
  top: 20px;
  border: none; }

.search-block {
  margin-left: 80px; }

button.search-btn {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #76767A;
  position: relative;
  top: -2px;
  border: none;
  background: none;
  margin: -7px 0 0px 20px;
  display: inline-block; }

.message-block {
  background: #FFFFFF;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 120px;
  height: 50px;
  margin-left: 30px; }

.message-block:after {
  content: "";
  display: block;
  clear: both; }

.message-block button {
  width: 50%;
  float: left;
  height: 100%;
  border: none; }

button.message-btn {
  background: url(../images/mesage.png) no-repeat;
  position: relative;
  background-position: 16px center !important;
  border-right: 1px solid #D9D9DE !important; }

button.star-btn {
  background: url(../images/star.png) no-repeat;
  background-position: center center !important; }

button.message-btn:after {
  content: "";
  display: block;
  background: #E52D2D;
  height: 8px;
  position: absolute;
  width: 8px;
  bottom: 12px;
  right: 17px;
  -webkit-border-radius: 70px;
  border-radius: 70px; }

.account-text p {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  /* text-align: right; */
  color: #76767A;
  margin-bottom: 5px; }

.account-text span {
  font-family: PT Root UI;
  font-size: 17px;
  line-height: 18px;
  /* identical to box height, or 106% */
  text-align: right;
  letter-spacing: -0.01em;
  color: #000000;
  display: block; }

.account-block {
  margin: 0 0 0 50px; }

.account-text {
  padding: 9px 0 0 0; }

.account-btn {
  width: 50px;
  margin-left: 10px;
  height: 50px; }

.account-btn button {
  background: #FFFFFF;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ava.png") no-repeat;
  background-position: center center; }

.account-btn button:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 1px solid #7B7B80;
  border-top: 1px solid #7B7B80;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 17px;
  right: -22px; }

.account-btn {
  position: relative; }

.menu {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  left: -150px;
  top: 50px;
  width: 236px;
  padding: 20px;
  z-index: 100; }

.menu a {
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  font-family: PT Root UI;
  font-size: 16px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 57px;
  text-align: right;
  letter-spacing: -0.01em;
  background-position: 160px center !important;
  color: #333333; }

.menu a:nth-child(1) {
  background: url("../images/menu/img1.png") no-repeat; }

.menu a:nth-child(2) {
  background: url("../images/menu/img2.png") no-repeat; }

.menu a:nth-child(3) {
  background: url("../images/menu/img3.png") no-repeat; }

.menu a:nth-child(4) {
  background: url("../images/menu/img4.png") no-repeat; }

.menu a:nth-child(5) {
  background: url("../images/menu/img5.png") no-repeat; }

.menu a:nth-child(6) {
  background: url("../images/menu/img6.png") no-repeat; }

.menu a:hover {
  background-color: #E5E5EB;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.menu {
  display: none; }

.account-btn:hover .menu {
  display: block !important; }

.account-btn:hover button:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.leftnav {
  max-width: 370px;
  border-right: 1px solid #DDDDE1;
  padding-right: 69px; }

.leftnav-item {
  margin-bottom: 34px; }

a.leftnav-add {
  display: block;
  background: #005ED9;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 50px;
  text-decoration: none;
  text-align: center; }

a.leftnav-add span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 50px;
  /* or 125% */
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3); }

section.content {
  padding: 30px 0 75px 0;
  background: #E5E5E5; }

.leftnav-head-btn {
  margin-top: 30px;
  border-bottom: 1px solid #D9D9DE;
  padding: 0  0 15px 0; }

.leftnav-head-btn ul {
  list-style-type: none;
  padding: 0 0 0 0;
  display: inline-block;
  margin: 0; }

.leftnav-head-btn li {
  display: inline-block;
  margin-right: 17px; }

.leftnav-head-btn li a {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #004DB2;
  padding-bottom: 18px;
  border-bottom: 2px solid transparent;
  text-decoration: none; }

.leftnav-head-btn li:last-child {
  margin-right: 0 !important; }

.leftnav-head-btn button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0px 0px 0 12px;
  margin-left: 34px; }

.leftnav-head-btn button span {
  font-family: PT Root UI;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #004DB2; }

.leftnav-head-btn li a.act {
  border-color: black;
  color: black;
  font-weight: bold !important; }

.leftnav-btn {
  border-bottom: 1px solid #D9D9DE;
  padding: 0px 0 10px 0; }

.leftnav-btn button {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333333;
  border: none;
  font-weight: bold !important;
  background: transparent;
  width: 100%;
  position: relative;
  display: block;
  text-align: left;
  padding: 0; }

.leftnav-body {
  margin-top: 29px; }

.leftnav-btn button:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 1px solid #7B7B80;
  border-top: 1px solid #7B7B80;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 2px;
  right: 13px; }

.leftnav-item-body a {
  font-family: PT Root UI;
  height: 30px;
  font-size: 13px;
  text-decoration: none;
  line-height: 28px;
  margin-right: 6px;
  margin-bottom: 5px;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  padding: 0 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: white; }

.leftnav-item-body a.act {
  background: #005ED9 !important;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.3);
  color: white !important; }

.leftnav-item-body {
  margin-top: 15px;
  position: relative;
  padding: 0  0 0 15px; }

.leftnav-item-body a:nth-child(3n) {
  margin-right: 0 !important; }

.leftnav-item-body button {
  font-family: PT Root UI;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height, or 100% */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #005ED9;
  background: none;
  border: none;
  padding: 0 0 0 0px; }

.leftnav-item-body:before {
  content: "#";
  position: absolute;
  font-family: PT Root UI;
  font-size: 16px;
  line-height: 20px;
  left: 0;
  letter-spacing: 0.05em;
  top: 5px;
  text-transform: uppercase;
  color: #333333; }

.leftnav-img {
  width: 300px;
  height: 250px;
  background: #D9D9DE;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 45px; }

body {
  position: relative;
  width: 100%;
  height: 100%; }

.center {
  max-width: 1294px;
  margin: 0 auto; }

.no-padding {
  padding: 0 !important; }

.center .row {
  margin: 0 !important; }

@media (max-width: 1200px) {
  .center {
    padding: 0 20px; } }

@media (max-width: 768px) {
  .center {
    padding: 0 15px !important; } }

.my_adds_heads ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

span.card-info-text {
  display: block;
  font-family: PT Root UI;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  color: #76767A; }

.my_adds_heads ul li a {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 0.05em;
  border-bottom: 2px solid transparent;
  padding-bottom: 13px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #004DB2; }

.my_adds_heads ul li span {
  color: #7e7e82;
  display: inline-block;
  margin-left: 3px; }

.my_adds_heads li {
  display: block;
  float: left;
  margin-right: 30px; }

.my_adds_heads {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-bottom: 0px;
  border-bottom: 1px solid #D9D9DE; }

.my_adds_heads ul:after {
  content: "";
  display: block;
  clear: both; }

.my_adds_heads li:last-child {
  margin-right: 0 !important; }

.my_adds_heads ul li a.act {
  color: #333333 !important;
  border-color: #333333 !important; }

.my_adds_body {
  padding-top: 13px; }

button.eddit_btn.my_adds_btn {
  background-image: url("../images/edit.png") !important; }

button.my_adds_btn {
  background-color: #FFFFFF;
  border: 1px solid #D9D9DE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 45px;
  padding: 0 !important;
  display: inline-block;
  height: 45px; }

span.card-location.my_adds {
  display: inline-block;
  margin-right: 27px; }

.content-block.my-addss-page {
  width: 79.8%; }

button.delete_btn.my_adds_btn {
  background-image: url("../images/delete.png"); }

.card-price.my_adds {
  padding-right: 3px !important; }

.card-info.myadds {
  padding-left: 33px; }

.my_adds_item {
  border-top: 1px solid #D9D9DE;
  padding-top: 20px; }

.my_adds_body {
  height: 505px; }

@charset "UTF-8";
.auth-reg-check {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: url("../images/сheck2.png") no-repeat;
  background-position: center center; }

.auth-reg {
  padding: 25px 0 0 0; }

p.auth-reg-head {
  font-family: PT Root UI;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height, or 125% */
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-top: 40px; }

p.auth-reg-p {
  font-family: PT Root UI;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold; }

span.auth-reg-span {
  font-family: PT Root UI;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
  display: block;
  margin-bottom: 30px; }

.auth-reg a {
  background: #FFFFFF;
  /* Line */
  border: 1px solid #D4D4D9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  text-decoration: none;
  height: 50px; }

.auth-reg a span {
  font-family: PT Root UI;
  font-size: 12px;
  line-height: 50px;
  /* or 125% */
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* Icon, Text Gray */
  color: #76767A;
  font-weight: bold; }
